@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  text-align: center; 
}
* {
  font-family: serif;
  font-size: 30px;
}

h1 {
  font-size: 10vh;
  font-weight: 400;
  font-family: 'Permanent Marker', cursive;
}

h4 {
  font-size: 3vh;
  font-weight: 400;
  font-family: 'Permanent Marker', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Login-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./assets/pawsbackground.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Splash-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./assets/pawsbackground.jpg');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Main-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./assets/pawsbackground.jpg');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Main-icon {
  margin-left: 2vw;
}

.Main-icon:active {
  animation: wiggle-wiggle 2s forwards linear;
}

.Main-date {
  text-align: center;
  margin-top: 2%;
  font-size: 150%;
  font-family: 'Permanent Marker', cursive;
}

.Header-container {
  border-bottom: #282c34 3px dotted;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Main-inputs {
  width: 80%;
  background-color: rgba(235, 205, 205, 0.863);
  height: 70%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: inset 0px 0px 6px 3px black;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Food-inputs {
  width: 98%;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  position: relative;
}


.Food-bag {
  height: 100%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}


.Splash-greeting {
  position: fixed;
  width: 80vw;
  height: 10vh;
  z-index: 1000;
  text-align: center;
  font-size: 400%;
  opacity: 0%;
  animation: fade-in 4s forwards linear;
  animation-delay: 500ms;
}

.Food-bag-icon {
  width: 30%;
  height: 50%;
  position: relative;
}

button {
  color: black;
}

.Food-giveFood {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.842);
  height: 97%;
  width: 97%;
  left: 1.5%;
  bottom: 2%;
  border-radius: 20px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0px 0px 3px 3px black;
}

.Food-background {
  opacity: 30%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  z-index: 2;
}

.Food-amount {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}

.Food-input {
  margin: 5% 0 5% 0;
  width: 80%;
  height: 10%;
  background-color: pink;
  border-radius: 20px;
  color: black;
  text-align: center;
}

.Food-addremove {
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Button-update {
  margin: 5% 0 5% 0;
  width: 50%;
  height: 10%;
  background-color: pink;
  border-radius: 20px;
  align-self: center;
}

.Button-feed {
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 10px;
  height: 40%;
  width: 70%;
  font-size: 3vw;
}

.Food-treat {
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Treat-counter {
  width: 80%;
  height: 50%;
  border-radius: 20px;
  box-shadow: inset 0px 0px 0px 5px white;
  background-color: rgba(22, 16, 21, 0.534);
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

p {
  font-size: 2vh;
  text-align: center;
}

.Treat-counter-value {
  font-size: 10vh;
  color: pink;
}

.Treat-addremove {
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}


.Login-options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  height: 50%;
  margin-top: 6vh;
}

.error {
  color: red;
  font-size: 20px;
}

.Login-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: auto;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgb(100, 57, 64);
  background-color: rgba(240, 248, 255, 0.295);
}


.Option-button {
  margin: 5% 0 5% 0;
  width: 100%;
  height: 30%;
  background-color: pink;
  border-radius: 20px;
  font-size: 3.5vh;
}

.Login-input {
  margin: 5% 0 5% 0;
  width: 100%;
  font-size: 3vw;
  background-color: pink;
  border-radius: 20px;
  color: black;
  text-align: center;
}

.Login-button {
    margin: 5% 0 5% 0;
    width: 80%;
    height: 10%;
    background-color: pink;
    border-radius: 20px;
    align-self: center;
    font-size: 3vw;
    cursor: pointer;
}

.Loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/pawsbackground.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
}

.Loading-icon {
  animation: logo-spin 10s infinite forwards;
  height: auto;
  width: 50%;
}
button {
  cursor: pointer;
}

.Back-button {
  width: 50%;
  background-color: pink;
  border-radius: 20px;
  align-self: center;
  font-size: 2vw;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-entry {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3a153167;
  backdrop-filter: blur(5px);
  justify-content: center;
  display: flex;
  align-items: center;
}

.Comments-icon {
  padding: 2.2%;
  cursor: pointer;
}

.Hist-icon {
  padding: 2%;
  cursor: pointer;
}

.Hist-list {
  width: 70vw;
  height: auto;
  position: relative;
  text-align: center;
}

td {
  border-bottom: black solid 1px;
}

.Hist-window {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.842);
  padding: 2%;
  height: 89%;
  width: 93%;
  left: 1.5%;
  bottom: 2%;
  border-radius: 20px;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  box-shadow: inset 0px 0px 3px 3px black;
}

.Comments-window {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.842);
  padding: 2%;
  height: 89%;
  width: 93%;
  left: 1.5%;
  bottom: 2%;
  border-radius: 20px;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: inset 0px 0px 3px 3px black;
}

.Comments-input {
  height: 100%;
  width: 99%;
  border-radius: 10px;
  box-shadow: inset 2px 2px 8px 4px grey;
  overflow-x: auto;
  font-size: 200%;
  padding: 0;
}

.Comment-review {
  overflow: auto;
}

.Comments-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.Comments-submit {
    width: auto;
    height: 50%;
    background-color: pink;
    border-radius:20px;
    align-self: center;
}

.App-link {
  color: #61dafb;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle-wiggle {
  0% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media screen and (max-aspect-ratio: 1/1) { 

  .Comments-input {
    font-size: 200%;
  }

  h1 {
    font-size: 13vw;
    margin: 5vh 0px 4vh 0px;
  }

  td {
    font-size: 4vw;
  }
  
  .Main-inputs {
    width: 90%
  }

  .Loading-icon {
    width: 70%;
  }

  .Login-button{
    font-size: 7vw;
  }

  .Back-button{
    font-size: 5vw;
  }

  .Button-feed {
    font-size: 5vw;
  }

  .Login-input{
    font-size: 5vw;
    height: 5vh;
  }

  .Food-bag-icon {
     width: 70%;
}
}
  
